<div id="privacy-cookie-content" class="">

</div>
{% schema %}
{
  "name": "Privacy cookies section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Cookie privacy",
      "settings": {}
    }
  ]
}
{% endschema %}
